@model Serverbooking.Models.BookingInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoServer.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoServer.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "BookingData")
</p>
