@model Serverbooking.Models.InfoServer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Server Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Environment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Environment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveBookingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveBookingID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ServerEdit", new { id = Model.ServerID }) |
    @Html.ActionLink("Back to List", "ServerData")
</p>
