@*@model IEnumerable<Serverbooking.Models.InfoServer>
@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Home/Data.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">*@
<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model =>*@ model.Status
        </th>
        <th>
            model.ServerName
        </th>
        <th>
             model.Environment
        </th>
        <th>
          model.ActiveBookingID
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Status)*@
                @item.Status
            </td>
            <td>
                @item.ServerName
            </td>
            <td>
                @item.Environment
            </td>
            <td>
                @item.ActiveBookingID
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ServerID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ServerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ServerID })
                </td>*@
        </tr>
    }

</table>