@*@model IEnumerable<Serverbooking.Models.InfoServer>
@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Home/Data.cshtml";
}*@

<link href="~/Content/Tables.css" rel="stylesheet" type="text/css"/>
<br />
<h2>Server Information</h2>
<table>
    <tr>
        <th>
           ServerID
        </th>
        <th>
           Status
        </th>
        <th>
           ServerName
        </th>
        <th>
           Environment
        </th>
        <th>
           ActiveBookingID
        </th>
        <th>
            @Html.ActionLink("Book A Server", "BookingData", "Home", new { @class = "my-class" })
        </th>
        <th> </th>
    </tr>

    @foreach (var item in Model)   
    {
        <tr>
            <td>
                @item.ServerID
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.ServerName
            </td>
            <td>
                @item.Environment
            </td>
            <td>
                @item.ActiveBookingID
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ServerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ServerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ServerID })
            </td>
            <td>
                @*@Html.TextBox("ServerID", Model.ServerID)
                @Html.ValidationMessage("ServerID", "*")*@
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "create", new {  })
</p><br />
